html {
    overflow: hidden;
}

body {
    color: #5c636c;
    background-color: #282c34;
    font-size: 18px;
}

.normal-size {
    margin-bottom: 10px;
    font-size: 22px;
}

#main {
    margin-top: 20px;
}

#title h1 {
    margin-bottom: 0;
}

#game-board {
    margin-top: 40px;
    min-width: 1000px;
}

#grid {
    min-height: 460px;
}

#grid, #upcoming {
    min-width: 430px;
    text-align: left;
    letter-spacing: 2px;
    font-family: Inconsolata;
    font-weight: bold;
    line-height: 23px;
}

#info {
    min-width: 350px;
    min-height: 460px;
    position: relative;
}

#upcoming {
    height: 92px;
    padding-left: 25px;
}

#score {
    padding-left: 10px;
}

#start {
    width: 160px;
    height: 40px;
    color: #5c636c;
    border-color: #5c636c;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

#start:hover {
    color: #f0f0f0;
    border-color: #f0f0f0;
}